<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.videotogif.demo.dao.UsergifMapper">
    <insert id="insertgif">
        insert into usergif (userid,giflocal,date_time) value(#{usergif.userid},#{usergif.giflocal},#{usergif.dateTime})
    </insert>
</mapper>